body {

background: rgb(100, 200, 191);

  
 
 }

h1 {
	color: rgb(198, 79, 191);
	font-family: Georgia;
	
}
 
 p { 
 	color:rgb(105, 79, 191);
 	font-family: Times;


  }

  ol {
      color:rgb(105, 79, 191);
  }





